/* MobileEmulator.css */

.mobile-emulator {
    position: relative;
    width: 100%;
    max-width: 375px;
    height: 88vh;
    margin: 0 auto;
    border: 1px solid #ddd;
    overflow-y: hidden;
    background-color: white;
    margin-top: 2vh;
}

.mobile-emulator-content {
    overflow-y: auto;
    max-height: 100%;
}

.floating-button {
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: black;
    color: #fff;
    padding: 6px 15px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .mobile-emulator {
        max-width: 368px;
    }

    .floating-button {
        position: fixed;
        bottom: 5%;
        right: 36%;
        transform: translate(0, 0);
    }
}